body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#message_container {
    width: 80%;
    max-width: 1200px;
}

#message_container div {
    background-color: lightgray;
    padding: 5px;
}

#message_container div:nth-child(2n) {
    background-color: darkgray;
}

#send_container {
    position: fixed;
    bottom: 0;
    padding-bottom: 30px;
    max-width: 1200px;
    width: 80%;
    display: flex;
    flex-direction: row;
}

#message_input {
    flex-grow: 1;
}